@charset "UTF-8";
:root {
  --inner-height: 100vh;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  font-size: 1.4rem;
  font-family:
    vdl-yotag,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-weight: 500;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 1.2rem;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 1.2rem;
  box-shadow: inset 0 0 0 .3rem #fff;
}
button {
  font-size: 1.4rem;
  font-family:
    vdl-yotag,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-weight: 500;
}
button:active {
  border: none;
}
.wrapper {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: 1.5s;
}
@media screen and (max-width: 63.75em) {
  .wrapper {
    flex-direction: column; 
  }
}
.wrapper--hidden {
  visibility: hidden;
  opacity: 0;
}
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading--hidden {
  display: none;
}
.loading__img {
  width: 2vw;
}
@media screen and (max-width: 63.75em) {
  .loading__img {
    width: 12vw;
  }
}
.loading__icon {
  width: 100%;
}
.noscript__alert {
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: .03;
  color: #ff1919;
  padding: 1.5rem 2rem;
  margin: 3rem;
  border: .2rem solid #ff1919;
  border-radius: .8rem;
}

/* -------------------------------------------------------------
 * WORKS
 * ------------------------------------------------------------- */
.works {
  width: 39.2%;
  height: 100vh;
  margin-left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  transition: .7s;
}
@media screen and (max-width: 63.75em) {
  .works {
    width: 100%;
    height: 40.029985008vh;
    height: calc(var(--inner-height) * .40029985008);
    margin-left: 0;
  }
}
.works--emphasis {
  width: 78.4%;
  padding: 4rem 2.8rem 0 0;
  justify-content: start;
  align-items: start;
  transition: .7s, padding 0s, overflow 0s;
  overflow-y: scroll;
}
@media screen and (min-width: 102.5em) {
  .works--emphasis {
    width: 100%;
  }
}
@media screen and (max-width: 63.75em) {
  .works--emphasis {
    width: 100%;
    height: 80.059970015vh;
    height: calc(var(--inner-height) * .80059970015);
    padding: 2.248875562vh 2.248875562vh 0;
  }
}
.works--hidden {
  width: 4rem;
  padding: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  transition: .7s;
}
@media screen and (max-width: 63.75em) {
  .works--hidden {
    width: 100%;
    height: 0;
  }
}
.works__summary {
  text-align: center;
}
.works__summary--hidden {
  display: none;
}
.works__summary__subheading {
  font-size: 3rem;
  letter-spacing: -.03rem;
  color: #787878;
  margin: 2rem 0 0;
}
@media screen and (max-width: 63.75em) {
  .works__summary__subheading {
    font-size: 3.148425787vh;
    margin: 1.499250375vh 0 0;
  }
}
.works__summary__primary-works {
  display: flex;
  justify-content: space-between;
  width: 37rem;
}
@media screen and (max-width: 63.75em) {
  .works__summary__primary-works {
    width: 100%;
  }
}
.works__summary__primary-work {
  display: inline-block;
  width: 18rem;
  padding: 4rem 0 2rem;
  color: #88b5d3;
}
@media screen and (max-width: 63.75em) {
  .works__summary__primary-work {
    font-size: 1.79910045vh;
    padding: 2.99850075vh 1.124437781vh 1.499250375vh;
  }
}
.works__summary__primary-work:hover {
  opacity: .8;
  transition: .1s;
}
.works__summary__primary-note {
  font-size: 1rem;
}
@media screen and (max-width: 63.75em) {
  .works__summary__primary-note {
    font-size: 1.274362819vh;
  }
}
.works__summary__chart {
  width: 100%;
  margin-bottom: .7rem;
}
.works__summary__link {
  display: block;
  font-size: 2rem;
  color: #88b5d3;
  padding: 2rem 0;
  margin: 0 auto;
}
@media screen and (max-width: 63.75em) {
  .works__summary__link {
    font-size: 2.3988006vh;
    padding: 1.499250375vh 0;
  }
}
.works__summary__link:hover {
  opacity: .8;
  transition: .1s;
}
.works__list {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.works__list--hidden {
  display: none;
}
.works__nav {
  position: fixed;
  bottom: 0;
  z-index: 10;
  margin-left: 2rem;
}
@media screen and (max-width: 63.75em) {
  .works__nav {
    right: 0;
    bottom: 19.940029985vh;
    bottom: calc(var(--inner-height) * .19940029985);
    margin-left: 0;
  }
}
.works__nav--hidden {
  display: none;
}
.works__nav-list {
  padding: 2rem 2rem 2rem 4rem;
  background: rgba(255, 255, 255, .8);
}
@media screen and (max-width: 63.75em) {
  .works__nav-list {
    padding: 2.248875562vh 2.248875562vh 2.248875562vh 4.497751124vh;
  }
}
.works__sort {
  position: relative;
}
.works__sort:not(.works__sort--last) {
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 63.75em) {
  .works__sort:not(.works__sort--last) {
    margin-bottom: 2.3988006vh;
  }
}
.works__sort-button {
  font-size: 1.6rem;
  color: #88b5d3;
}
@media screen and (max-width: 63.75em) {
  .works__sort-button {
    font-size: 2.3988006vh;
  }
}
.works__sort-button:hover {
  opacity: .8;
  transition: .1s;
}
.works__sort--active::after {
  content: "";
  width: 1.2rem;
  height: .1rem;
  background: #88b5d3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2.5rem;
  margin: auto 0;
}
@media screen and (max-width: 63.75em) {
  .works__sort--active::after {
    width: 1.1994003vh;
    left: -2.99850075vh;
  }
}
.works__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.works__contents--hidden {
  display: none;
}
.works__work {
  width: 30.943396226%;
}
@media screen and (max-width: 63.75em) {
  .works__work {
    width: 100%;
  }
}
.works__work--hidden {
  display: none;
}
.works__work--empty {
  visibility: hidden;
}
.works__work-button {
  margin-bottom: 4rem;
}
@media screen and (max-width: 63.75em) {
  .works__work-button {
    margin-bottom: 4.497751124vh;
  }
}
.works__work-button:hover {
  opacity: .8;
  transition: .1s;
}
.works__work-image {
  width: 100%;
  margin-bottom: .7rem;
}
.works__work-title {
  font-size: 1.6rem;
  color: #88b5d3;
  text-align: center;
}
@media screen and (max-width: 63.75em) {
  .works__work-title {
    font-size: 2.3988006vh;
  }
}
.works__work-note {
  font-size: 1.2rem;
}
@media screen and (max-width: 63.75em) {
  .works__work-note {
    font-size: 1.79910045vh;
  }
}
.works__detail {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.works__detail--hidden {
  display: none;
}
.works__detail__contents {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 63.75em) {
  .works__detail__contents {
    flex-direction: column;
  }
}
.works__detail__sp-titles {
  display: none;
}
@media screen and (max-width: 63.75em) {
  .works__detail__sp-titles {
    display: block;
    margin-top: 4.497751124vh;
  }
}
.works__detail__images,
.works__detail__text {
  width: 47.641509434%;
  margin-bottom: 4rem;
  letter-spacing: .03rem;
}
@media screen and (max-width: 63.75em) {
  .works__detail__images,
  .works__detail__text {
    width: 100%;
    margin-bottom: 8.995502249vh;
  }
}
.works__detail__image {
  width: 100%;
  margin-top: 2rem;
}
.works__detail__image--first {
  margin-top: 0;
}
.works__detail__image-caption {
  margin-top: .7rem;
  font-family:
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 1.1rem;
  color: #787878;
}
@media screen and (max-width: 63.75em) {
  .works__detail__image-caption {
    font-size: 1.79910045vh;
    margin-top: 1.499250375vh;
  }
}
.works__detail__image-caption-link {
  color: #88b5d3;
}
.works__detail__image-caption-link:hover {
  opacity: .8;
  transition: .1s;
}
.works__detail__title,
.works__detail__sp-title {
  font-size: 3.6rem;
  margin: 0 0 1.4rem;
  color: #787878;
  letter-spacing: -.1rem;
}
@media screen and (max-width: 63.75em) {
  .works__detail__title {
    display: none;
  }
  .works__detail__sp-title {
    font-size: 3.5982009vh;
    margin: 0 0 2.248875562vh;
  }
}
.works__detail__title-note {
  font-size: 2.4rem;
}
@media screen and (max-width: 63.75em) {
  .works__detail__title-note {
    font-size: 2.3988006vh;
  }
}
.works__detail__description,
.works__detail__sp-description {
  font-size: 1.3rem;
  line-height: 1.8;
  color: #787878;
  margin-bottom: 8rem;
  font-family:
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
@media screen and (max-width: 63.75em) {
  .works__detail__description,
  .works__detail__sp-description {
    font-size: 1.79910045vh;
    margin-bottom: 8.995502249vh;
  }
  .works__detail__title + .works__detail__description {
    display: none;
  }
}
.works__detail__description--last {
  margin-bottom: 0;
}
.works__detail__description-link {
  color: #88b5d3;
  margin-right: 1.8rem;
  position: relative;
}
.works__detail__description-link::after {
  content: url(../image/icon_blank.svg);
  position: absolute;
  top: -.5rem;
  right: -1.4rem;
}
.works__detail__description-link:hover {
  opacity: .8;
  transition: .2s;
}
.works__detail__links {
  margin-top: 3.4rem;
  line-height: 1;
}
@media screen and (max-width: 63.75em) {
  .works__detail__links {
    margin-top: 3.748125937vh;
  }
}
.works__detail__link {
  font-size: 2.6rem;
  font-family:
    vdl-yotag,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  color: #88b5d3;
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
}
@media screen and (max-width: 63.75em) {
  .works__detail__link {
    font-size: 3.5982009vh;
    margin-bottom: 2.248875562vh;
  }
}
.works__detail__link--last {
  margin-bottom: 0;
}
.works__detail__link:hover {
  opacity: .8;
  transition: .1s;
}
.works__detail__link::after {
  content: url(../image/icon_blank.svg);
  position: absolute;
  bottom: 0;
  right: -1.6rem;
}
@media screen and (max-width: 63.75em) {
  .works__detail__link::after {
    right: -2.3988006vh;
  }
}
.works__detail__image-link {
  position: relative;
  width: 100%;
  display: block;
}
.works__detail__image-link--movie::before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: calc(100% - 2rem);
  background: rgba(0,0,0,.6);
  z-index: 10;
}
.works__detail__image-link--movie::after {
  content: '';
  width: 8.7rem;
  height: 8.1rem;
  background-image: url(../image/icon_movie.png);
  background-size: cover;
  position: absolute;
  top: calc(50% + 2rem);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.works__detail__heading {
  font-size: 3rem;
  margin: 0 0 1.4rem;
  color: #787878;
}
@media screen and (max-width: 63.75em) {
  .works__detail__heading {
    font-size: 3.5982009vh;
    margin: 0 0 2.248875562vh;
  }
}
.works__detail__heading--kata {
  letter-spacing: -.3rem;
}
.works__detail__process {
  display: flex;
  flex-wrap: wrap;
}
.works__detail__process-list {
  width: 7rem;
  height: 7rem;
  border: .1rem solid #c8c8c8;
  border-radius: 50%;
  font-size: 1.8rem;
  color: #787878;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3rem 1.4rem 0;
}
@media screen and (max-width: 63.75em) {
  .works__detail__process-list {
    width: 10.494752624vh;
    height: 10.494752624vh;
    font-size: 2.698650675vh;
    margin: 0 4.497751124vh 2.248875562vh 0;
  }
}
.works__detail__process-list:not(.works__detail__process-list--last)::after {
  content: url(../image/works_process_allow.svg);
  position: absolute;
  top: 50%;
  right: -2rem;
  transform: translateY(-50%);
}
@media screen and (max-width: 63.75em) {
  .works__detail__process-list:not(.works__detail__process-list--last)::after {
    right: -2.99850075vh;
  }
}
.works__detail__process-list--link {
  border-color: #88b5d3;
}
.works__detail__process-list--last {
  margin-right: 0;
}
.works__detail__process-link {
  color: #88b5d3;
  display: block;
  margin-top: -1.3rem;
  padding: .5rem;
}
@media screen and (max-width: 63.75em) {
  .works__detail__process-link {
    margin-top: -1.949025487vh;
    padding: .749625187vh;
  }
}
.works__detail__process-link::after {
  content: url(../image/icon_blank.svg);
  position: absolute;
  bottom: .6rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media screen and (max-width: 63.75em) {
  .works__detail__process-link::after {
    bottom: .899550225vh;
  }
}
.works__detail__process-link:hover {
  opacity: .8;
  transition: .1s;
}
.works__detail__process-image {
  width: 100%;
  margin-bottom: .4rem;
}
@media screen and (max-width: 63.75em) {
  .works__detail__process-image {
    margin-bottom: .749625187vh;
  }
}
.works__detail__process-image:not(:first-of-type) {
  margin-top: 4rem;
}
@media screen and (max-width: 63.75em) {
  .works__detail__process-image:not(:first-of-type) {
    margin-top: 4.497751124vh;
  }
}
.works__detail__itemize {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 63.75em) {
  .works__detail__itemize {
    flex-direction: column;
  }
}
.works__detail__item {
  width: 46.078431373%;
}
@media screen and (max-width: 63.75em) {
  .works__detail__item {
    width: 100%;
  }
}
.works__detail__close {
  font-size: 1.6rem;
  color: #88b5d3;
  padding: 1.5rem 2rem;
  background: rgba(255, 255, 255, .8);
  position: fixed;
  top: 0;
  margin-left: 2rem;
  z-index: 10;
}
@media screen and (max-width: 63.75em) {
  .works__detail__close {
    font-size: 2.3988006vh;
    right: 0;
    padding: 2.248875562vh 2.99850075vh;
    margin: 0;
  }
}
.works__detail__close:hover {
  opacity: .8;
  transition: .1s;
}
.works__loading {
  width: 100%;
  height: 82.616179002vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works__loading--hidden {
  display: none;
}
.works__loading__img {
  width: 2%;
}
@media screen and (max-width: 63.75em) {
  .works__loading__img {
    width: 12%;
  }
}
.works__loading__icon {
  width: 100%;
}
.works__close {
  position: fixed;
  top: 0;
  margin-left: 2rem;
  font-size: 1.6rem;
  color: #88b5d3;
  padding: 1.5rem 2rem .9rem;
  background: rgba(255, 255, 255, .8);
  z-index: 10;
}
@media screen and (max-width: 63.75em) {
  .works__close {
    font-size: 2.3988006vh;
    margin-left: 0;
    right: 0;
    padding: 2.248875562vh 2.99850075vh;
  }
}
.works__close:hover {
  opacity: .8;
  transition: .1s;
}
.works__close--hidden {
  display: none;
}

/* -------------------------------------------------------------
 * MAIN-NAV
 * ------------------------------------------------------------- */
.main-nav {
  width: 21.6%;
  height: 100vh;
  max-width: 27rem;
  margin: 0 .1rem;
  box-shadow: 0 0 .2rem 0 #c8c8c8;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 63.75em) {
  .main-nav {
    width: 100%;
    max-width: 100%;
    height: 19.940029985vh;
    height: calc(var(--inner-height) * .19940029985);
    flex-direction: row;
    justify-content: center;
    margin: 0;
    z-index: 20;
  }
}
.main-nav__title {
  width: calc(100% - 8rem);
  max-width: 19rem;
  margin: 4rem auto;
  cursor: pointer;
}
@media screen and (max-width: 63.75em) {
  .main-nav__title {
    width: 14.992503748vh;
    max-width: none;
    margin: 2.248875562vh 0 0;
  }
}
.main-nav__title:hover {
  opacity: .8;
  transition: .1s;
}
.main-nav__logo {
  width: 100%;
}
.main-nav__description {
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: .2rem;
  color: #787878;
  padding: 0 4rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 63.75em) {
  .main-nav__description {
    display: none;
  }
}
@media screen and (max-width: 63.75em) {
  .main-nav__link-lists {
    width: 33.883058471vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.99850075vh;
  }
}
.main-nav__link-list {
  font-size: 2rem;
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
  cursor: pointer;
}
@media screen and (max-width: 63.75em) {
  .main-nav__link-list {
    width: 16.941529235vh;
    font-size: 2.3988006vh;
    margin: 4.497751124vh 0 0;
    display: flex;
  }
}
.main-nav__link-list:hover {
  opacity: .8;
  transition: .1s;
}
.main-nav__link-list--blank::after {
  content: url(../image/icon_blank.svg);
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
}
@media screen and (max-width: 63.75em) {
  .main-nav__link-list--blank::after {
    position: relative;
    left: .299850075vh;
  }
}
.main-nav__link-button {
  width: 100%;
  font-size: 2rem;
  color: #88b5d3;
}
@media screen and (max-width: 63.75em) {
  .main-nav__link-button {
    font-size: 2.3988006vh;
    text-align: left;
  }
}
.main-nav__link-button--active::after {
  content: "";
  width: 1.2rem;
  height: .1rem;
  background: #88b5d3;
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
}
@media screen and (max-width: 63.75em) {
  .main-nav__link-button--active::after {
    display: none;
  }
}
.main-nav__link-list:hover .main-nav__link-button--active::after {
  transform: rotate(45deg);
  transition: .2s;
}
.main-nav__link-list:hover .main-nav__link-button--active::before {
  content: "";
  width: 1.2rem;
  height: .1rem;
  background: #88b5d3;
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}
@media screen and (max-width: 63.75em) {
  .main-nav__link-button--active::before {
    display: none;
  }
}
.main-nav__link {
  color: #88b5d3;
  display: block;
}
@media screen and (max-width: 63.75em) {
  .main-nav__link {
    text-align: left;
  }
}
.main-nav__icon-link-list {
  display: flex;
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}
.main-nav__icon-link-list--hidden {
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.main-nav__icon-link:not(:first-of-type) {
  margin-left: 3rem;
}
.main-nav__icon-link__logo {
  width: 100%;
}
.main-nav__footer {
  padding: 0 .5rem .5rem;
  font-family:
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #c8c8c8;
  line-height: 1.5;
  letter-spacing: -.02rem;
  text-align: center;
}
@media screen and (max-width: 63.75em) {
  .main-nav__footer {
    position: absolute;
    bottom: 0;
    margin-left: -14.992503748vh;
    padding: 0 0 .299850075vh;
    padding: 0 0 calc(var(--inner-height) * .00299850075);
    font-size: 1.1994003vh;
    line-height: 1.79910045vh;
    text-align: left;
    letter-spacing: 0;
  }
}
.main-nav__footer--sp-visible {
  display: none;
}
@media screen and (max-width: 63.75em) {
  .main-nav__footer--sp-hidden {
    display: none;
  }
  .main-nav__footer--sp-visible {
    display: inline-block;
  }
}
.main-nav__contact,
.main-nav__policy {
  font-size: 1rem;
  color: #88b5d3;
  font-family:
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
@media screen and (max-width: 63.75em) {
  .main-nav__contact,
  .main-nav__policy {
    font-size: 1.1994003vh;
  }
}
.main-nav__contact:hover,
.main-nav__policy:hover {
  opacity: .8;
  transition: .1s;
}

/* -------------------------------------------------------------
 * ABOUT
 * ------------------------------------------------------------- */
.about {
  width: 39.2%;
  height: 100vh;
  margin-left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  transition: .7s;
}
@media screen and (max-width: 63.75em) {
  .about {
    width: 100%;
    height: 40.029985008vh;
    height: calc(var(--inner-height) * .40029985008);
    margin-left: 0;
  }
}
.about--emphasis {
  width: 78.4%;
  padding: 4rem 4rem 0 0;
  justify-content: start;
  align-items: start;
  transition: .7s, padding 0s;
}
@media screen and (min-width: 102.5em) {
  .about--emphasis {
    width: 100%;
  }
}
@media screen and (max-width: 63.75em) {
  .about--emphasis {
    width: 100%;
    height: 80.059970015vh;
    height: calc(var(--inner-height) * .80059970015);
    padding: 4.497751124vh 2.248875562vh 0;
  }
}
.about--hidden {
  width: 4rem;
  padding: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  transition: .7s;
}
@media screen and (max-width: 63.75em) {
  .about--hidden {
    width: 100%;
    height: 0;
  }
}
.about__summary {
  text-align: center;
}
.about__summary--hidden {
  display: none;
}
.about__summary__heading {
  font-size: 3rem;
  letter-spacing: -.03rem;
  color: #787878;
  margin: 2rem 0 4.6rem;
}
@media screen and (max-width: 63.75em) {
  .about__summary__heading {
    font-size: 3.148425787vh;
    margin: 1.499250375vh 0 3.448275862vh;
  }
}
.about__summary__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  margin: 0 auto 1.4rem;
}
.about__allow {
  width: 24.6rem;
  margin: 0 auto 3rem;
}
@media screen and (max-width: 63.75em) {
  .about__allow {
    margin: 0 auto 2.248875562vh;
  }
}
.about__summary__chart {
  width: 100%;
}
.about__summary__descriptions {
  display: flex;
  justify-content: space-between;
  width: 36rem;
  margin: 1.4rem 0;
}
.about__summary__description {
  color: #787878;
  text-align: center;
  width: 12rem;
  position: relative;
}
@media screen and (max-width: 63.75em) {
  .about__summary__description {
    font-size: 1.79910045vh;
  }
}
.about__summary__description:not(.about__summary__description--last)::after {
  content: "";
  width: 2.5rem;
  height: .1rem;
  background: #c8c8c8;
  position: absolute;
  top: 2.5rem;
  right: -1.2rem;
}
.about__summary__description-note {
  font-size: 1.1rem;
}
@media screen and (max-width: 63.75em) {
  .about__summary__description-note {
    font-size: 1.274362819vh;
  }
}
.about__summary__description--friend {
  margin-left: 4rem;
}
.about__summary__description--boss {
  margin-left: 4rem;
}
.about__summary__link {
  display: block;
  font-size: 2rem;
  color: #88b5d3;
  padding: 2rem 0;
  margin: 0 auto;
}
@media screen and (max-width: 63.75em) {
  .about__summary__link {
    font-size: 2.3988006vh;
    padding: 1.499250375vh 0;
  }
}
.about__summary__link:hover {
  opacity: .8;
  transition: .1s;
}
.about__profile {
  width: 100%;
}
.about__profile--hidden {
  display: none;
}
.about__title {
  display: flex;
  margin-bottom: 8rem;
}
@media screen and (max-width: 63.75em) {
  .about__title {
    margin-bottom: 8.995502249vh;
  }
}
.about__image {
  width: 100%;
}
.about__character {
  width: 9.6rem;
}
@media screen and (max-width: 63.75em) {
  .about__character {
    width: 10.044977511vh;
  }
}
.about__names {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 2rem;
}
.about__logo-image {
  width: 14rem;
  margin-bottom: .7rem;
}
@media screen and (max-width: 63.75em) {
  .about__logo-image {
    width: 14.692653673vh;
    margin-bottom: 1.499250375vh;
  }
}
.about__logo {
  width: 100%;
}
.about__subtitle {
  font-size: 3rem;
  color: #787878;
  letter-spacing: -.1rem;
}
@media screen and (max-width: 63.75em) {
  .about__subtitle {
    font-size: 3.5982009vh;
    letter-spacing: -.15rem;
  }
}
.about__details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__detail {
  width: calc(50% - 2rem);
  margin-bottom: 8rem;
}
@media screen and (max-width: 63.75em) {
  .about__detail {
    width: 100%;
    margin-bottom: 8.995502249vh;
  }
}
.about__detail--empty {
  visibility: hidden;
}
@media screen and (max-width: 63.75em) {
  .about__detail--empty {
    display: none;
  }
}
.about__detail-title {
  font-size: 3rem;
  color: #787878;
  margin-bottom: 2rem;
}
@media screen and (max-width: 63.75em) {
  .about__detail-title {
    font-size: 3.5982009vh;
    margin-bottom: 2.248875562vh;
  }
}
.about__detail-title--kata {
  letter-spacing: -.3rem;
}
.about__rpg-chart {
  width: 32.4rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 63.75em) {
  .about__rpg-chart {
    width: 100%;
    margin-bottom: 2.248875562vh;
  }
}
.about__description {
  font-size: 1.3rem;
  font-family:
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  color: #787878;
  line-height: 1.8;
  letter-spacing: .05rem;
}
@media screen and (max-width: 63.75em) {
  .about__description {
    font-size: 1.79910045vh;
  }
}
.about__note {
  font-size: 1.0rem;
}
@media screen and (max-width: 63.75em) {
  .about__note {
    font-size: 1.274362819vh;
  }
}
.about__contact {
  font-size: 2.4rem;
  color: #88b5d3;
}
@media screen and (max-width: 63.75em) {
  .about__contact {
    font-size: 3.5982009vh;
  }
}
.about__contact:hover {
  opacity: .8;
  transition: .1s;
}
.about__detail-icon {
  width: 14.7rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 63.75em) {
  .about__detail-icon {
    width: 22.03898051vh;
    margin-bottom: 2.248875562vh;
  }
}
.about__close {
  position: fixed;
  top: 0;
  right: 3rem;
  font-size: 1.6rem;
  color: #88b5d3;
  padding: 1.5rem 2rem;
  background: rgba(255, 255, 255, .8);
  z-index: 10;
}
@media screen and (max-width: 63.75em) {
  .about__close {
    font-size: 2.3988006vh;
    top: 19.940029985vh;
    top: calc(var(--inner-height) * .19940029985);
    right: 0;
    padding: 2.248875562vh 2.99850075vh;
  }
}
.about__close:hover {
  opacity: .8;
  transition: .1s;
}

/* -------------------------------------------------------------
 * CONTACT
 * ------------------------------------------------------------- */
.contact {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: .5s;
  cursor: pointer;
}
.contact--invisible {
  opacity: 0;
  transition: .5s;
}
.contact--hidden {
  display: none;
}
.contact__contents {
  background: #fff;
  padding: 4rem;
  width: 50vw;
  height: 80vh;
  cursor: default;
}
@media screen and (max-width: 63.75em) {
  .contact__contents {
    width: 90vw;
    height: 80vh;
    height: calc(var(--inner-height) * .8);
    padding: 0;
  }
}
.contact__iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.contact__close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 1.6rem;
  color: #fff;
  padding: 2rem;
}

/* -------------------------------------------------------------
 * SITE POLICY
 * ------------------------------------------------------------- */
.policy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: .5s;
  cursor: pointer;
}
.policy--invisible {
  opacity: 0;
  transition: .5s;
}
.policy--hidden {
  display: none;
}
.policy__contents {
  background: #fff;
  padding: 6rem 4rem;
  width: 50vw;
  height: 80vh;
  overflow: auto;
  color: #787878;
  font-family:
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  cursor: default;
}
@media screen and (max-width: 63.75em) {
  .policy__contents {
    width: 90vw;
    height: 80vh;
    height: calc(var(--inner-height) * .8);
    padding: 4.497751124vh 2.99850075vh;
  }
}
.policy__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.policy__heading {
  font-size: 2rem;
  margin: 0 0 2rem;
}
.policy__subheading {
  font-size: 1.4rem;
  margin: 0 0 1rem;
}
.policy__content {
  margin-bottom: 6rem;
  font-size: 1.2rem;
  line-height: 1.8;
}
.policy__content--mb-half {
  margin-bottom: 3rem;
}
.policy__content--last {
  margin-bottom: 0;
}
.policy__lists {
  margin: 1rem 0;
}
.policy__list {
  position: relative;
  padding-left: 2.5rem;
}
.policy__list::before {
  content: "";
  width: .7rem;
  height: .1rem;
  background: #787878;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  margin: auto 0;
}
.policy__link {
  color: #88b5d3;
  position: relative;
  margin-right: 1.7rem;
}
.policy__link:hover {
  opacity: .8;
  transition: .1s;
}
.policy__link::after {
  content: url(../image/icon_blank.svg);
  position: absolute;
  top: -.3rem;
  right: -1.5rem;
}
.polisy__to-contact {
  font-family:
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 1.2rem;
  color: #88b5d3;
}
.polisy__close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 1.6rem;
  color: #fff;
  padding: 2rem;
}