@charset "UTF-8";
html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  font-size: 1.4rem;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 400;
}
.wrapper {
  display: flex;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition: 1.5s;
}
html:not(.wf-active) .wrapper--hidden {
  visibility: hidden;
  opacity: 0;
}

/* -------------------------------------------------------------
 * WORKS
 * ------------------------------------------------------------- */
.works {
  width: 39.2%;
  max-width: 47rem;
  padding-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works__backtext {
  font-size: 7rem;
  color: #ebebeb;
  border-top: .1rem solid #ebebeb;
  border-bottom: .1rem solid #ebebeb;
  padding: 1rem .5rem;
}

/* -------------------------------------------------------------
 * MAIN-NAV
 * ------------------------------------------------------------- */
.main-nav {
  width: 21.6%;
  height: 100vh;
  max-width: 27rem;
  margin: 0 .1rem;
  padding: 4rem;
  box-shadow: 0 0 .2rem 0 #c8c8c8;
  position: relative;
}
.main-nav__title {
  width: 100%;
  max-width: 19rem;
  margin-bottom: 1rem;
}
.main-nav__logo {
  width: 100%;
}
.main-nav__subtitle {
  font-size: 2.8rem;
  letter-spacing: -.1rem;
  color: #b4b4b4;
  padding-bottom: 4rem;
  border-bottom: .1rem dashed #c8c8c8;
  margin-bottom: 3.5rem;
}
.main-nav__description {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  line-height: 2.6rem;
  letter-spacing: .1rem;
  color: #787878;
}
.main-nav__link-button {
  font-size: 2.2rem;
  color: #88b5d3;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: .1rem solid #88b5d3;
  margin-bottom: 3rem;
  cursor: pointer;
  user-select: none;
}
.main-nav__link-button::after {
  content: url(../image/icon_arrow.svg);
  position: absolute;
  top: -.2rem;
  right: .8rem;
}
.main-nav__link-button--active::after {
  content: url(../image/icon_arrow_active.svg);
}
.main-nav__icon-link-list {
  display: flex;
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}
.main-nav__icon-link-list--hidden {
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.main-nav__icon-link:not(:first-of-type) {
  margin-left: 3rem;
}
.main-nav__icon-link--note {width: 2.8rem;}
.main-nav__icon-link--blog {width: 3.2rem;}
.main-nav__icon-link__logo {
  width: 100%;
}

/* -------------------------------------------------------------
 * ABOUT
 * ------------------------------------------------------------- */
.about {
  width: 39.2%;
  max-width: 47rem;
  padding-left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__backtext {
  font-size: 7rem;
  color: #ebebeb;
  border-top: .1rem solid #ebebeb;
  border-bottom: .1rem solid #ebebeb;
  padding: 1rem .5rem;
}